/*

https://codepen.io/aanjulena/pen/ZLZjzV
*/

.temperatura {
  background-color: #007bff;
  padding: 5px;
  font-size: 1.6em;
  color: whitesmoke;
}

.temperatura-min {
  background-color: #007bff;
  padding: 3px;
  font-size: 1em;
  color: whitesmoke;
}

.icon-weather {
  font-size: 10em;
}

.icon-weather-min {
  font-size: 3em;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*
https://gist.github.com/tbranyen/62d974681dea8ee0caa1
https://github.com/erikflowers/weather-icons
Se trata de cambiar los iconos por defecto por los de arriba

Además hacemos un toggle switch, y en función de si está habilitado o no
que se haga predicción actual (weather en la url) o para las proximas horas (forecast)

habrá que poner un listener al boton de switch.. evento change

*/
